/*-----------------------------------*\

  Module: base

  High-level styles. Basically just
  the html/:root element.

\*-----------------------------------*/

html, :root {
  font: 125%/1.4 $font-Serif;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga' 1, 'onum' 1, 'dlig' 1;

  background-color: $background;
  color: $dark-gray;

  @media (max-width: 860px) {
    font-size: 112.5%;
  }

  @media (max-width: 780px) {
    font-size: 100%;
  }

  &.night-mode {
    background-color: $background-invert;
    color: $dark-gray-invert;
  }
}
