/*-----------------------------------*\

  Module: code

  Code highlighting styles

\*-----------------------------------*/

code, pre {
  font: 85%/1.647058824 "Source Code Pro", Menlo, Consolas, monospace;
}

.highlight pre {
  @extend %isle;
  max-width: 100%;

  overflow: scroll;

  border-radius: .25em;
  background-color: #fafcfd;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);

  .hll { background-color: #ffffcc }
  .c { color: #aaaaaa; font-style: italic } /* Comment */
  .err { color: #F00000; background-color: #F0A0A0 } /* Error */
  .k { color: #0000aa } /* Keyword */
  .cm { color: #aaaaaa; font-style: italic } /* Comment.Multiline */
  .cp { color: #4c8317 } /* Comment.Preproc */
  .c1 { color: #aaaaaa; font-style: italic } /* Comment.Single */
  .cs { color: #0000aa; font-style: italic } /* Comment.Special */
  .gd { color: #aa0000 } /* Generic.Deleted */
  .ge { font-style: italic } /* Generic.Emph */
  .gr { color: #aa0000 } /* Generic.Error */
  .gh { color: #000080; font-weight: bold } /* Generic.Heading */
  .gi { color: #00aa00 } /* Generic.Inserted */
  .go { color: #888888 } /* Generic.Output */
  .gp { color: #555555 } /* Generic.Prompt */
  .gs { font-weight: bold } /* Generic.Strong */
  .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
  .gt { color: #aa0000 } /* Generic.Traceback */
  .kc { color: #0000aa } /* Keyword.Constant */
  .kd { color: #0000aa } /* Keyword.Declaration */
  .kn { color: #0000aa } /* Keyword.Namespace */
  .kp { color: #0000aa } /* Keyword.Pseudo */
  .kr { color: #0000aa } /* Keyword.Reserved */
  .kt { color: #00aaaa } /* Keyword.Type */
  .m { color: #009999 } /* Literal.Number */
  .s { color: #aa5500 } /* Literal.String */
  .na { color: #1e90ff } /* Name.Attribute */
  .nb { color: #00aaaa } /* Name.Builtin */
  .nc { color: #00aa00; text-decoration: underline } /* Name.Class */
  .no { color: #aa0000 } /* Name.Constant */
  .nd { color: #888888 } /* Name.Decorator */
  .ni { color: #800000; font-weight: bold } /* Name.Entity */
  .nf { color: #00aa00 } /* Name.Function */
  .nn { color: #00aaaa; text-decoration: underline } /* Name.Namespace */
  .nt { color: #1e90ff; font-weight: bold } /* Name.Tag */
  .nv { color: #aa0000 } /* Name.Variable */
  .ow { color: #0000aa } /* Operator.Word */
  .w { color: #bbbbbb } /* Text.Whitespace */
  .mf { color: #009999 } /* Literal.Number.Float */
  .mh { color: #009999 } /* Literal.Number.Hex */
  .mi { color: #009999 } /* Literal.Number.Integer */
  .mo { color: #009999 } /* Literal.Number.Oct */
  .sb { color: #aa5500 } /* Literal.String.Backtick */
  .sc { color: #aa5500 } /* Literal.String.Char */
  .sd { color: #aa5500 } /* Literal.String.Doc */
  .s2 { color: #aa5500 } /* Literal.String.Double */
  .se { color: #aa5500 } /* Literal.String.Escape */
  .sh { color: #aa5500 } /* Literal.String.Heredoc */
  .si { color: #aa5500 } /* Literal.String.Interpol */
  .sx { color: #aa5500 } /* Literal.String.Other */
  .sr { color: #009999 } /* Literal.String.Regex */
  .s1 { color: #aa5500 } /* Literal.String.Single */
  .ss { color: #0000aa } /* Literal.String.Symbol */
  .bp { color: #00aaaa } /* Name.Builtin.Pseudo */
  .vc { color: #aa0000 } /* Name.Variable.Class */
  .vg { color: #aa0000 } /* Name.Variable.Global */
  .vi { color: #aa0000 } /* Name.Variable.Instance */
  .il { color: #009999 } /* Literal.Number.Integer.Long */
}
