/*-----------------------------------*\

  Module: content

  High-level styles for the main
  content

\*-----------------------------------*/


.posts__list {
  .beta {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
  }
}

.post__title {
  margin-bottom: 0;
}

p:empty {
  display: none;
}

.hentry {
  margin-bottom: $baseline*3;
}

.footnote {
  padding: .15em;

  color: $highlight;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.footnotes {
  @extend %meta;
  @extend %small;

  &:before {
    content: '';
    display: block;
    @extend hr;
  }

  & :last-child {
    margin-bottom: 0;
  }
}
