/*-----------------------------------*\

  Module: footer

  High-level styles for the footer

\*-----------------------------------*/

.site__footer {
  border-top: 1px solid $lighter-gray;

  .night-mode & {
    border-top-color: $lighter-gray-invert;
  }

  section {
    @extend %isle--v;
    position: static;

    + section:before {
      content: none;
      content: normal;

      @media screen and (min-width: 700px) {
        content: "";
        position: absolute;
        width: 1px;
        margin-left: -$gutter-width/2;
        top: 0;
        bottom: 0;

        background-color: $lighter-gray;

        .night-mode & {
          background-color: $lighter-gray-invert;
        }
      }

    }
  }
}

.footer__copyright {
  border-top: 1px solid $lighter-gray;

  .night-mode & {
    border-top-color: $lighter-gray-invert;
  }
}
