@charset "UTF-8";

/*-----------------------------------*\

  Root: style.scss

  Imports all required SCSS files.

\*-----------------------------------*/

/*-----------------------------------*\

  Partial: variables

  Global variables of all kinds

\*-----------------------------------*/

/* #663399Rebecca */

/*-----------------------------------*\

  Module: base

  High-level styles. Basically just
  the html/:root element.

\*-----------------------------------*/

html,
:root {
  font: 125%/1.4 "Hoefler Text A", "Hoefler Text B", Georgia, serif;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'dlig' 1;
  -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'dlig' 1;
  font-feature-settings: 'liga' 1, 'onum' 1, 'dlig' 1;
  background-color: #f7f4fb;
  color: #494063;
}

@media (max-width: 860px) {
  html,
  :root {
    font-size: 112.5%;
  }
}

@media (max-width: 780px) {
  html,
  :root {
    font-size: 100%;
  }
}

html.night-mode,
:root.night-mode {
  background-color: #190f24;
  color: #897b9a;
}

/*-----------------------------------*\

  Partial: all

  Imports all abstracted components
  and helpers

\*-----------------------------------*/

/*-----------------------------------*\

  Partial: variables

  Global variables of all kinds

\*-----------------------------------*/

/* #663399Rebecca */

/*-----------------------------------*\

  Partial: mixins

  Site-wide mixin definitions

\*-----------------------------------*/

/*-----------------------------------*\

  Partial: reset

  An overzealous CSS reset

\*-----------------------------------*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

img {
  max-width: 100%;
}

ul,
ol {
  padding-left: 1.4em;
}

header,
main,
footer,
p,
table,
figure,
blockquote,
pre,
ul,
ol,
h1,
.alpha,
h2,
.beta {
  margin-bottom: 1.4rem;
}

picture {
  display: block;
}

li ol,
li ul {
  margin-bottom: 0;
}

/*-----------------------------------*\

  Partial: helpers

  Helper classes for allsorts

\*-----------------------------------*/

.o--b {
  display: block;
}

.o--p {
  margin-bottom: 1.4rem;
}

.o--mz {
  margin-bottom: 0;
}

.o--z {
  z-index: 100;
}

.unl {
  padding-left: 0;
  list-style: none;
}

.f--l {
  float: left;
}

.f--r {
  float: right;
}

/*-----------------------------------*\

  Partial: layout

  Layout rules

\*-----------------------------------*/

/*-----------------------------------*\

  Partial: grid

  Powerful grid derived from Toast.
  You'd be mad to use it.

  Usage
  =====

  Assuming default values:

  <div class="grid">
    <div class="grid__col grid__col--1-of-2">
      A half-width column.
    </div>
    <div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4">
      A quarter, pulled left by its own width. You get this, right?
    </div>
  </div>


  Customisation
  =============

  $grid-namespace and $grid-column-namespace
  adjusts the class names for the grid. With
  default values, grid wrappers have a class
  of '.grid' and columns '.grid__col'.

  $col-groups(n) adjusts column divisions.
  For example, $col-groups(12) will produce
  a 12-column grid. $col-groups(3,6,8)
  will produce a 3-, 6-, and 8-column grid.

  $gutter-width is—you guessed it—the gutter
  width. Accepts any unit.

  That's it. Have fun.

\*-----------------------------------*/

.grid {
  list-style: none;
  margin-left: -20px;
}

.grid > .grid__col--6-of-6 {
  width: 100%;
}

.grid > .grid__col--3-of-6 {
  width: 50%;
}

.grid > .grid__col--2-of-6 {
  width: 33.33333%;
}

.grid > .grid__col--4-of-6 {
  width: 66.66667%;
}

.grid > .grid__col--push-6-of-6 {
  margin-left: 100%;
}

.grid > .grid__col--push-3-of-6 {
  margin-left: 50%;
}

.grid > .grid__col--push-2-of-6 {
  margin-left: 33.33333%;
}

.grid > .grid__col--push-4-of-6 {
  margin-left: 66.66667%;
}

.grid > .grid__col--pull-6-of-6 {
  margin-left: -100%;
}

.grid > .grid__col--pull-3-of-6 {
  margin-left: -50%;
}

.grid > .grid__col--pull-2-of-6 {
  margin-left: -33.33333%;
}

.grid > .grid__col--pull-4-of-6 {
  margin-left: -66.66667%;
}

.grid > .grid__col--1-of-6 {
  width: 16.66667%;
}

.grid > .grid__col--push-1-of-6 {
  margin-left: 16.66667%;
}

.grid > .grid__col--pull-1-of-6 {
  margin-left: -16.66667%;
}

.grid > .grid__col--5-of-6 {
  width: 83.33333%;
}

.grid > .grid__col--push-5-of-6 {
  margin-left: 83.33333%;
}

.grid > .grid__col--pull-5-of-6 {
  margin-left: -83.33333%;
}

.grid > *,
.grid > .grid__col--1-of-6,
.grid > .grid__col--push-1-of-6,
.grid > .grid__col--pull-1-of-6,
.grid > .grid__col--2-of-6,
.grid > .grid__col--push-2-of-6,
.grid > .grid__col--pull-2-of-6,
.grid > .grid__col--3-of-6,
.grid > .grid__col--push-3-of-6,
.grid > .grid__col--pull-3-of-6,
.grid > .grid__col--4-of-6,
.grid > .grid__col--push-4-of-6,
.grid > .grid__col--pull-4-of-6,
.grid > .grid__col--5-of-6,
.grid > .grid__col--push-5-of-6,
.grid > .grid__col--pull-5-of-6,
.grid > .grid__col--6-of-6,
.grid > .grid__col--push-6-of-6,
.grid > .grid__col--pull-6-of-6,
.grid > .grid__col--6-of-6 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 20px;
  vertical-align: top;
}

@media screen and (max-width: 700px) {
  .grid > *,
  .grid > .grid__col--1-of-6,
  .grid > .grid__col--push-1-of-6,
  .grid > .grid__col--pull-1-of-6,
  .grid > .grid__col--2-of-6,
  .grid > .grid__col--push-2-of-6,
  .grid > .grid__col--pull-2-of-6,
  .grid > .grid__col--3-of-6,
  .grid > .grid__col--push-3-of-6,
  .grid > .grid__col--pull-3-of-6,
  .grid > .grid__col--4-of-6,
  .grid > .grid__col--push-4-of-6,
  .grid > .grid__col--pull-4-of-6,
  .grid > .grid__col--5-of-6,
  .grid > .grid__col--push-5-of-6,
  .grid > .grid__col--pull-5-of-6,
  .grid > .grid__col--6-of-6,
  .grid > .grid__col--push-6-of-6,
  .grid > .grid__col--pull-6-of-6,
  .grid > .grid__col--6-of-6 {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    width: auto;
  }
}

.grid .grid__col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 700px) {
  .grid {
    margin-left: 0;
    width: auto;
  }
}

.grid .grid__col--d-first {
  float: left;
}

.grid .grid__col--d-last {
  float: right;
}

.grid.grid--no-gutter {
  margin-left: 0;
  width: 100%;
}

.grid.grid--no-gutter > * {
  padding-left: 0;
}

.grid.grid--no-gutter .grid__col--span-all {
  margin-left: 0;
  width: 100%;
}

.grid .grid__col--ab {
  vertical-align: bottom;
}

.grid .grid__col--am {
  vertical-align: middle;
}

.wrap {
  max-width: 48rem;
  margin: 0 auto;
}

body {
  padding: 1.4rem;
}

.island {
  padding: 1.4rem;
}

.island--v {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

.isle,
.highlight pre {
  padding: 0.7rem;
}

.isle--v,
.site__footer section {
  padding-top: 0.7rem;
  padding-botton: 0.7rem;
}

.spit {
  padding: 0.35rem;
}

.spit--v,
.site__nav a,
.site__nav .js--toggle-lights {
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
}

/*-----------------------------------*\

  Partial: objects

  Abstractions that can't be categorised
  anywhere else

\*-----------------------------------*/

.nav,
.nav ul,
.nav ol {
  list-style: none;
  padding-left: 0;
}

.nav li,
.nav a,
.nav .js--toggle-lights,
.nav ul li,
.nav ul a,
.nav ul .js--toggle-lights,
.nav ol li,
.nav ol a,
.nav ol .js--toggle-lights {
  display: inline-block;
}

/*-----------------------------------*\

  Partial: typography

  Type styles

\*-----------------------------------*/

h1,
.alpha {
  font-family: "Requiem Display A", "Requiem Display B", "Hoefler Text A", "Hoefler Text B", Georgia, serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.166666667;
}

h1 .caps,
.alpha .caps {
  font-family: "Requiem Display SC A", "Requiem Display SC B", "Requiem Display A", "Requiem Display B", "Hoefler Text A", "Hoefler Text B", Georgia, serif;
}

h2,
.beta {
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.166666667;
}

* + h2,
* + .beta {
  padding-top: 1.4rem;
}

h3,
.gamma {
  margin-bottom: .7rem;
  font-family: "Hoefler Text SC A", "Hoefler Text SC B", "Hoefler Text A", "Hoefler Text B", Georgia, serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: .05em;
}

h4,
.delta {
  margin-bottom: .7rem;
  font-family: "Whitney SSm SC A", "Whitney SSm SC B", "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, san-serif;
  font-size: .65rem;
  font-weight: 400;
  line-height: 1.615384615;
  letter-spacing: .05em;
}

small,
.small,
.footnotes {
  font-size: .8rem;
  line-height: 1.3125;
}

.meta,
.footnotes {
  color: #7d6e8d;
}

.caps {
  font-family: "Hoefler Text SC A", "Hoefler Text SC B", "Hoefler Text A", "Hoefler Text B", Georgia, serif;
  letter-spacing: .05em;
}

a,
.js--toggle-lights {
  color: inherit;
  cursor: pointer;
}

a:hover,
.js--toggle-lights:hover {
  color: #663399;
}

figcaption,
.site__nav {
  font-size: .65rem;
  line-height: 1.615384615;
  font-family: "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, san-serif;
  color: #7d6e8d;
}

.night-mode figcaption,
.night-mode .site__nav {
  color: #716383;
}

figcaption .caps,
.site__nav .caps {
  font-family: "Whitney SSm SC A", "Whitney SSm SC B", "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, san-serif;
}

hr,
.footnotes:before {
  border: none;
  border-bottom: 2px solid #b0a2c2;
  width: 6rem;
  padding-top: 1.4rem;
  margin-top: -2px;
  margin-right: auto;
  margin-bottom: 2.8rem;
  margin-left: auto;
}

.night-mode hr,
.night-mode .footnotes:before {
  border-bottom-color: #46385a;
}

mark {
  background-color: transparent;
  color: #663399;
}

blockquote {
  font-style: italic;
  padding: 0 1.4rem;
  border-left: 2px solid #663399;
}

blockquote em {
  font-style: normal;
}

.promo {
  text-align: center;
}

/*-----------------------------------*\

  Partial: images

  Sprite and image helpers should go here

\*-----------------------------------*/

figure img {
  display: block;
  width: 100%;
  margin-bottom: 0.7rem;
}

@media (min-width: 700px) {
  .alignleft,
  .alignright {
    float: left;
    width: -webkit-calc(50% - 0.7rem );
    width: calc(50% - 0.7rem );
    margin-left: -webkit-calc(-50% - 0.46667rem );
    margin-left: calc(-50% - 0.46667rem );
  }
}

@media (min-width: 700px) {
  .imgbleed {
    width: -webkit-calc(150% + 0.46667rem );
    width: calc(150% + 0.46667rem );
    margin-left: -webkit-calc(-50% - 0.46667rem );
    margin-left: calc(-50% - 0.46667rem );
  }

  .imgbleed figcaption {
    position: absolute;
    margin-top: 1.4rem;
    top: 100%;
    left: 0;
    width: 33.33333%;
    padding-right: 0.7rem;
    text-align: right;
  }
}

/*-----------------------------------*\

  Partial: tables

  Table styling

\*-----------------------------------*/

/*-----------------------------------*\

  Partial: forms

  Form & form element styles

\*-----------------------------------*/

.debug-outline * {
  outline: 1px dotted rgba(0, 0, 0, 0.1);
  outline-offset: -1px;
}

.debug-outline *:hover {
  outline-color: red;
}

/*-----------------------------------*\

  Partial: animations

  Animation definitions

\*-----------------------------------*/

/*-----------------------------------*\

  Module: all

  Imports modules. Modules are site-
  and page-specific styles that cannot
  be easily abstracted.

\*-----------------------------------*/

/*-----------------------------------*\

  Module: base

  High-level styles. Basically just
  the html/:root element.

\*-----------------------------------*/

html,
:root {
  font: 125%/1.4 "Hoefler Text A", "Hoefler Text B", Georgia, serif;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'dlig' 1;
  -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'dlig' 1;
  font-feature-settings: 'liga' 1, 'onum' 1, 'dlig' 1;
  background-color: #f7f4fb;
  color: #494063;
}

@media (max-width: 860px) {
  html,
  :root {
    font-size: 112.5%;
  }
}

@media (max-width: 780px) {
  html,
  :root {
    font-size: 100%;
  }
}

html.night-mode,
:root.night-mode {
  background-color: #190f24;
  color: #897b9a;
}

/*-----------------------------------*\

  Module: code

  Code highlighting styles

\*-----------------------------------*/

code,
pre {
  font: 85%/1.647058824 "Source Code Pro", Menlo, Consolas, monospace;
}

.highlight pre {
  max-width: 100%;
  overflow: scroll;
  border-radius: .25em;
  background-color: #fafcfd;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  /* Comment */
  /* Error */
  /* Keyword */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Function */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}

.highlight pre .hll {
  background-color: #ffffcc;
}

.highlight pre .c {
  color: #aaaaaa;
  font-style: italic;
}

.highlight pre .err {
  color: #F00000;
  background-color: #f0a0a0;
}

.highlight pre .k {
  color: #0000aa;
}

.highlight pre .cm {
  color: #aaaaaa;
  font-style: italic;
}

.highlight pre .cp {
  color: #4c8317;
}

.highlight pre .c1 {
  color: #aaaaaa;
  font-style: italic;
}

.highlight pre .cs {
  color: #0000aa;
  font-style: italic;
}

.highlight pre .gd {
  color: #aa0000;
}

.highlight pre .ge {
  font-style: italic;
}

.highlight pre .gr {
  color: #aa0000;
}

.highlight pre .gh {
  color: #000080;
  font-weight: bold;
}

.highlight pre .gi {
  color: #00aa00;
}

.highlight pre .go {
  color: #888888;
}

.highlight pre .gp {
  color: #555555;
}

.highlight pre .gs {
  font-weight: bold;
}

.highlight pre .gu {
  color: #800080;
  font-weight: bold;
}

.highlight pre .gt {
  color: #aa0000;
}

.highlight pre .kc {
  color: #0000aa;
}

.highlight pre .kd {
  color: #0000aa;
}

.highlight pre .kn {
  color: #0000aa;
}

.highlight pre .kp {
  color: #0000aa;
}

.highlight pre .kr {
  color: #0000aa;
}

.highlight pre .kt {
  color: #00aaaa;
}

.highlight pre .m {
  color: #009999;
}

.highlight pre .s {
  color: #aa5500;
}

.highlight pre .na {
  color: dodgerblue;
}

.highlight pre .nb {
  color: #00aaaa;
}

.highlight pre .nc {
  color: #00aa00;
  text-decoration: underline;
}

.highlight pre .no {
  color: #aa0000;
}

.highlight pre .nd {
  color: #888888;
}

.highlight pre .ni {
  color: #800000;
  font-weight: bold;
}

.highlight pre .nf {
  color: #00aa00;
}

.highlight pre .nn {
  color: #00aaaa;
  text-decoration: underline;
}

.highlight pre .nt {
  color: #1e90ff;
  font-weight: bold;
}

.highlight pre .nv {
  color: #aa0000;
}

.highlight pre .ow {
  color: #0000aa;
}

.highlight pre .w {
  color: #bbbbbb;
}

.highlight pre .mf {
  color: #009999;
}

.highlight pre .mh {
  color: #009999;
}

.highlight pre .mi {
  color: #009999;
}

.highlight pre .mo {
  color: #009999;
}

.highlight pre .sb {
  color: #aa5500;
}

.highlight pre .sc {
  color: #aa5500;
}

.highlight pre .sd {
  color: #aa5500;
}

.highlight pre .s2 {
  color: #aa5500;
}

.highlight pre .se {
  color: #aa5500;
}

.highlight pre .sh {
  color: #aa5500;
}

.highlight pre .si {
  color: #aa5500;
}

.highlight pre .sx {
  color: #aa5500;
}

.highlight pre .sr {
  color: #009999;
}

.highlight pre .s1 {
  color: #aa5500;
}

.highlight pre .ss {
  color: #0000aa;
}

.highlight pre .bp {
  color: #00aaaa;
}

.highlight pre .vc {
  color: #aa0000;
}

.highlight pre .vg {
  color: #aa0000;
}

.highlight pre .vi {
  color: #aa0000;
}

.highlight pre .il {
  color: #009999;
}

/*-----------------------------------*\

  Module: header

  High-level styles for the header

\*-----------------------------------*/

.site__title {
  text-decoration: none;
}

.site__title:hover {
  color: inherit;
}

.site__title span {
  margin-bottom: 0;
}

.site__nav {
  font-family: "Whitney SSm SC A", "Whitney SSm SC B", "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, san-serif;
  letter-spacing: .05em;
  border-top: 1px solid #b0a2c2;
}

.night-mode .site__nav {
  border-top-color: #46385a;
}

.site__nav li {
  margin-top: -1px;
}

.site__nav li + li {
  margin-left: 1rem;
}

.site__nav a,
.site__nav .js--toggle-lights {
  text-decoration: none;
  color: #7d6e8d;
  border-top: 1px solid transparent;
}

.night-mode .site__nav a,
.night-mode .site__nav .js--toggle-lights {
  color: #716383;
}

.site__nav a.active,
.site__nav .active.js--toggle-lights {
  color: #663399;
  border-top-color: #663399;
}

.site__nav a:hover,
.site__nav .js--toggle-lights:hover {
  color: #663399;
}

.js--toggle-lights {
  font-family: sans-serif;
}

/*-----------------------------------*\

  Module: content

  High-level styles for the main
  content

\*-----------------------------------*/

.posts__list .beta {
  margin-bottom: 0;
}

.posts__list a,
.posts__list .js--toggle-lights {
  text-decoration: none;
}

.post__title {
  margin-bottom: 0;
}

p:empty {
  display: none;
}

.hentry {
  margin-bottom: 4.2rem;
}

.footnote {
  padding: .15em;
  color: #663399;
  text-decoration: none;
}

.footnote:hover {
  text-decoration: underline;
}

.footnotes:before {
  content: '';
  display: block;
}

.footnotes :last-child {
  margin-bottom: 0;
}

/*-----------------------------------*\

  Module: footer

  High-level styles for the footer

\*-----------------------------------*/

.site__footer {
  border-top: 1px solid #b0a2c2;
}

.night-mode .site__footer {
  border-top-color: #46385a;
}

.site__footer section {
  position: static;
}

.site__footer section + section:before {
  content: none;
  content: normal;
}

@media screen and (min-width: 700px) {
  .site__footer section + section:before {
    content: "";
    position: absolute;
    width: 1px;
    margin-left: -10px;
    top: 0;
    bottom: 0;
    background-color: #b0a2c2;
  }

  .night-mode .site__footer section + section:before {
    background-color: #46385a;
  }
}

.footer__copyright {
  border-top: 1px solid #b0a2c2;
}

.night-mode .footer__copyright {
  border-top-color: #46385a;
}

/*===================================*\

  Sass Authoring Rules
  --------------------

  Some basic guidelines (that may be broken) for authoring manageable, readable Sass styles:

  .block {
    // 1. Layout Properties
    // display, width, padding, margin, vertical-align, box-sizing, etc.
    // Note: Bracketed expression values — such as calc() or linear-gradient() — must have spaces [e.g. calc( 100% + 2rem )] for Grunt tasks to run properly

    // 2. Typography Properties
    // font[-size, -weight, etc], line-height, text-align, letter-spacing, white-space, etc.

    // 3. Appearance Properties
    // color, box-shadow, background, border, text-shadow, opacity, etc.

    // 4. UI Properties
    // appearance, cursor, pointer-events, etc.

    // Child elements are not always (and shouldn't be) nested in the parent block
    .block__child {

      // Modifiers are almost always nested in their parent element
      &.block__child--modifier {

      }

      &:after {
        // `content` counts as a layout property
      }

    }
  }

  Full Example:

  .block {
    width: 100%;

    font-size: 1rem;
    font-weight: 400;

    color: $highlight;

    .block__child {
      display: inline-block;

      &.block__child--modifier {
        color: $gray;
      }

      &:after {
        content: '';
        padding: 1.5rem;

        cursor: pointer;
      }
    }
  }

  If you want to pick a fight over/learn more about these rules, let me know – dan.eden@me.com

\*===================================*/