/*-----------------------------------*\

  Partial: images

  Sprite and image helpers should go here

\*-----------------------------------*/

figure img {
  display: block;
  width: 100%;
  margin-bottom: $baseline/2;
}

.alignleft, .alignright {
  @media (min-width: 700px) {
    float: left;
    width: calc(50% - #{$baseline/2} );
    margin-left: calc(-50% - #{$baseline/3} );
  }
}

.imgbleed {
  @media (min-width: 700px) {
    width: calc(150% + #{$baseline/3} );
    margin-left: calc(-50% - #{$baseline/3} );

    figcaption {
      position: absolute;
      margin-top: $baseline;
      top: 100%;
      left: 0;
      width: percentage(1/3);
      padding-right: $baseline/2;

      text-align: right;
    }
  }
}
