/*-----------------------------------*\

  Partial: layout

  Layout rules

\*-----------------------------------*/

@import "grid";

.wrap {
  max-width: 48rem;
  margin: 0 auto;
}

body {
  padding: $baseline;
}

.island, %island {
  padding: $baseline;
}

.island--v, %island--v {
  padding-top: $baseline;
  padding-bottom: $baseline;
}

.isle, %isle {
  padding: $baseline/2;
}

.isle--v, %isle--v {
  padding-top: $baseline/2;
  padding-botton: $baseline/2;
}

.spit, %spit {
  padding: $baseline/4;
}

.spit--v, %spit--v {
  padding-top: $baseline/4;
  padding-bottom: $baseline/4;
}
