/*-----------------------------------*\

  Partial: variables

  Global variables of all kinds

\*-----------------------------------*/

// Group: Unit Sizes
$base-font-size: (20/16)*100%;
$baseline-unitless: 28 / (16*($base-font-size/100%));
$baseline: $baseline-unitless * 1rem;


// Group: Fonts
$font-Serif: "Hoefler Text A", "Hoefler Text B", Georgia, serif;
$font-Serif-SC: "Hoefler Text SC A", "Hoefler Text SC B", $font-Serif;

$font-Sans: "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, san-serif;
$font-Sans-SC: "Whitney SSm SC A", "Whitney SSm SC B", $font-Sans;

$font-Display: "Requiem Display A", "Requiem Display B", $font-Serif;
$font-Display-SC: "Requiem Display SC A", "Requiem Display SC B", $font-Display;
$font-Code: "Source Code Pro", Monaco, monospace;


// Group: Colors
//$background: #fbf7f0;
//$highlight: #c64f52;
/* #663399Rebecca */
$highlight: #639;
$background: lighten($highlight, 57%);

$dark-gray: mix($highlight, #3d464d, 30%);
$light-gray: mix($highlight, #888, 30%);
$lighter-gray: mix($highlight, #d0d2d4, 30%);

// Group: Colors-invert
//$background-invert: #1d1f21;

$background-invert: desaturate(darken($highlight, 30%), 10%);

$dark-gray-invert: mix($highlight, #999a9b, 30%);
$light-gray-invert: mix($highlight, #77797a, 30%);
$lighter-gray-invert: mix($highlight, #393b3f, 30%);
