{% include header.html %}

	<main class="wrap site__content page" role="main">

		<article class="grid hentry">
			<header class="page__header grid__col grid__col--2-of-6">
				<h1 class="page__title">{{ page.title | widont }}</h1>
			</header>
			<div class="grid__col grid__col--4-of-6">
				{{ content }}
			</div>
		</article>

	</main>

{% include footer.html %}
